@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Petit+Formal+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Petit Formal-Script', cursive;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}